body{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.digit{
    font-size: 100px;
    font-weight: bold;
}
.txt{
    font-size: 40px;
    font-weight: bold;
}

#container{
    color: brown;
}

#btn-container{
    text-align: center;
    margin-top: 20px;
}